{% extends 'todo/base.html' %}

{% block content %}
<div>
    <div>
        <h2>Hello {{ request.user|title }}</h2>
        <p>You have <strong>{{ count }} incomplete task{{ count|pluralize:"s" }}.</strong></p>
    </div>

    <h3>Task list</h3>

    {# search task #}
    <form action="" method="get">
        <input type="text" name="searchArea" value="{{ contextQuery }}" placeholder="Type here">
        <select name="queryType">
            <option value="icontains" {% if filterInput == 'icontains' %} selected {% endif %}>Match Anywhere</option>
            <option value="startswith" {% if filterInput == 'startswith' %} selected {% endif %}>Starts With</option>
        </select>

        <button type="submit">Search</button>
        <a href="{% url 'todo.index' %}">Refresh</a>
    </form>

    <table>
        <thead>
            <tr>
                <th>SL</th>
                <th>Task</th>
                <th>Details</th>
            </tr>
        </thead>

        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    {% if task.complete %}
                    <del>{{ task.title }}</del>
                    {% else %}
                    <span>{{ task.title }}</span>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'todo.show' task.id %}" target="_blank">Details</a>
                    <a href="{% url 'todo.edit' task.id %}" target="_blank">Edit</a>
                    <a href="{% url 'todo.delete' task.id %}" target="_blank">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">Task list is empty.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}